@import 'tailwindcss';

@font-face {
  font-family: Inconsolata;
  src: url('../src/assets/fonts/Inconsolata-Regular.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Inconsolata;
  src: url('../src/assets/fonts/Inconsolata-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Inconsolata;
  src: url('../src/assets/fonts/Inconsolata-ExtraBold.ttf');
  font-weight: 800;
}

@theme {
  --default-font-family: Inconsolata, 'sans-serif';

  --animate-fade-in: fadeIn 2s ease-in 300ms forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900;
}
